<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhxy.eshop.mapper.CartItemMapper">
	<resultMap id="CartItemResultMap" type="com.xhxy.eshop.entity.CartItem">
		<id property="id" column="id"/>
		<result property="quantity" column="quantity"/>
		<result property="total" column="total"/>
		<association property="product" javaType="com.xhxy.eshop.entity.Product">
			<id property="id" column="product_id"/>
			<result property="name" column="product_name"/>
			<result property="price" column="product_price"/>
			<result property="pic" column="product_pic"/>
		</association>
	</resultMap>
	
	<select id="findById" resultMap="CartItemResultMap">
		select ci.id, ci.quantity, ci.total,
		       p.id as product_id, p.name as product_name, p.price as product_price, p.pic as product_pic
		from cartitem ci
		left join product p on ci.product_id = p.id
		where ci.id = #{id}
	</select>
	<select id="findByCartId" resultMap="CartItemResultMap">
		select ci.id, ci.quantity, ci.total,
		       p.id as product_id, p.name as product_name, p.price as product_price, p.pic as product_pic
		from cartitem ci
		left join product p on ci.product_id = p.id
		where ci.cart_id = #{cartId}
	</select>
	<select id="findByCartIdAndProductId" resultType="int">
		select id from cartitem where cart_id = #{cartId} and product_id = #{productId} limit 1
	</select>
	<insert id="add">
		insert into cartitem(product_id,quantity,cart_id,total) values(#{product.id},#{quantity},#{cartId},#{total})
	</insert>
	<delete id="deleteByCartId">
		delete from cartitem where cart_id = #{cartId}
	</delete>
	<update id="update">
		update cartitem set quantity = #{quantity}, total = #{total} where id = #{cartItemId}
	</update>
</mapper>
